doctype html
html(lang="end")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/assets/styles.css")
    title= title
  body.bg-gradient-to-tr.from-slate-700.to-gray-900.h-screen.flex.flex-col.items-center.justify-center
    div.shadow-xl.rounded-xl.flex.flex-col.gap-4.p-6.bg-slate-100
      block content
